body {background:blue}

#h1 {
	font-size: 4em;
	font-family: helvetica;
	font-style: italic;
	color:white;
	padding: 50px;
	margin: 60px;
	margin-left: 400px;
display: inline-block;

}

#h2 {
	color: white;
	display: block;
	font-family: antraste;
	margin-left: 350px;
	font-size: 1em;
}

#nav {
	color: white;
	font-family: helvetica;
	display: block;
	font-size: 1em;
}


/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: pink;
}


@media screen and (max-width: 700px) {
  body {
    font-size: 80%;
  }
  #h1 {
    vertical-align: left;
    position: relative;
  }
  #h2 {
    vertical-align: left;
 position: relative;
  
  }

  img {
  	width: 80%;
  	height: 80%;

  }